@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
:root {
  ---black-: hsl(0, 0%, 17%);
  ---grey-: hsl(0, 0%, 59%);
  ---white-: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6em;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
.top-container {
  background-image: url(./images/pattern-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
}
.top-container h2 {
  padding: 2rem 0 1rem;
  text-align: center;
  font-weight: 700;
  color: var(---white-);
}
.top-container .search {
  width: 35%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 90% auto;
}
.search input {
  border: none;
  outline: none;
  cursor: pointer;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 100%;
  padding: 1rem;
  font-size: 1.8rem;
}
.search input::placeholder {
  color: var(---grey-);
  font-weight: 500;
  font-size: inherit;
}
.send {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(---black-);
  cursor: pointer;
}
/* ========================
BOTTOM CONTAINER
========================== */
.bottom-container {
  position: relative;
}
.bottom-container > div:not(:last-of-type) {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.details {
  top: 0;
  padding: 1.5rem;
  background-color: var(---white-);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}
.details div {
  padding: 0 1.5rem 0 1rem;
}
.details div:not(:last-of-type) {
  border-right: 1px solid var(---grey-);
}
.details p {
  font-weight: 700;
  color: var(---grey-);
  padding: 1rem 0;
}
.bottom-container .locate {
  top: 50%;
}
.attribution {
  text-align: center;
  color: var(---grey-);
}
.attribution a {
  color: var(---black-);
  font-weight: 700;
  text-decoration: none;
}
.error {
  text-align: center;
  font-weight: 500;
  color: var(---white-);
  animation: animate 0.8s ease-in-out;
}

/* Map */

#map {
  height: calc(95vh - 220px);
  z-index: -1;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 720px) {
  .top-container .search {
    width: 55%;
  }
}
@media screen and (max-width: 645px) {
  .top-container .search {
    width: 65%;
  }
}

@media screen and (max-width: 540px) {
  .top-container {
    height: 300px;
  }
  .top-container .search {
    width: 80%;
  }
  .details {
    padding: 1.5rem;
    width: 80%;
    text-align: center;
    grid-template-columns: 1fr;
  }
  .details p {
    padding: 0.5rem 0;
  }
  .details div {
    padding: 0.8rem 0;
  }
  .details div:not(:last-of-type) {
    border-right: none;
  }
}
